* {
    margin: 0;
    box-sizing: border-box;
}

.page {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formcontainer {
    text-align: center;
    background-color:white ;
    height: 35 em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55 rgb(100,156,156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 20%;
    border-radius: 0,25em;
    text-align: center;
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.login-btn {
    width: 10%;
    height: 3em;
    background-color: rgb(213,5,52);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover { transform: scale(1.25);}

.login-poup {
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transform: 1.5s;
}